.projects-grid{
  display:flex;
}

.contact-body{
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  overflow: scroll;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  -webkit-animation: fadeIn 1s;
   animation: fadeIn 1s;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popup_inner {
  position: absolute;
  width: 65%;
  height: 55%;
  left: 16%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
   overflow: scroll;
}

.close-popup {
  position: absolute;
  left: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close-popup:hover {
  opacity: 1;
}
.close-popup:before, .close-popup:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close-popup:before {
  transform: rotate(45deg);
}
.close-popup:after {
  transform: rotate(-45deg);
}
.popUpBody{
  padding: 30px;
}


.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}





.bar{
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
}
.bar::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
}
.bar::after{
  content: '';
  background: #2ecc71;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-before 1 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@-webkit-keyframes bar-before{
0%{
  width: 0px;
}
100%{
  width: 100%;
}
}
.bar1::after{
  max-width: 100%;
}
.ic{
  padding: 0px 20px 0px 20px;
}
.social-link{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media screen and (min-width: 1000px) {
    .fb-pad {
      padding-left: 130px;
    }
}
